# Server Configuration
PORT=4000
NODE_ENV=development

# MySQL Database General Configuration
DB_HOST=db
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=adminpass

# Individual Database Names
DB_NAME_USERS=db_users
DB_NAME_CAFES=db_cafes
DB_NAME_REVIEWS=db_reviews
DB_NAME_FOLDERS=db_folders
DB_NAME_NOTES=db_notes
